.dashboard {
    width: 100%;
    height: 788px;
    display: flex;
}

.dashboard .changing--pages {
    width: 85%;
    position: relative;
    padding-left: 20px;
    background-color: rgba(231, 235, 238, 0.568);
}